.contact {
  padding: 0rem 4rem;
  padding-bottom: 3.2rem;
  background-color: $primary_color;
  text-align: center;
  h2 {
    font-size: 2rem;
    padding: 2rem 24rem;
    img {
      vertical-align: middle;
      margin: 0rem 0.4rem;
    }
  }
  .contactForm {
    margin: 0 auto;
    background-color: #ffff;
    width: 28rem;
    padding: 2rem;
    border-radius: 16px;
    h5 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    input[type="text"],
    [type="tel"],
    select {
      width: 20rem;
      height: 3rem;
      margin-bottom: 1rem;
      padding-left: 0.4rem;
      border: 2px solid $gray_color;
      border-radius: 10px;
    }
    .radioInline {
      display: inline-block;
      margin-right: 1rem;
    }
    label {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    select {
      margin-top: 0.5rem;
    }
    button {
      width: 20rem;
      height: 3rem;
      border: none;
      border-radius: 10px;
      background-color: $text_color;
      color: $gray_color;
      font-size: 1rem;
      font-weight: 600;
    }
    p {
      width: 20rem;
      margin: 0 auto;
      margin-top: 0.5rem;
      font-size: 0.7rem;
      color: gray;
    }
  }
}
