.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $text_color;
  gap: 20px;
  padding: 4rem;
  .jobCard {
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    padding: 2rem 1rem;
  }
}
