@import "../helper/variables";
@import "../components/header";
@import "../components/hero";
@import "../components/numbers";
@import "../components//career";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}
